body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.myNavbar {
    background-color: #054f20;
    border-bottom:-10px;
}

.mojaKarticaEvent {
    border: 3px solid #d19b06;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.mojaKarticaProject {
    border: 3px solid #09b548;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
