@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>Welcome to</h1>
                <h1> Your IoT Handprint</h1>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/output-onlinepngtools.png" />
            </div>
            <div class="col-lg-4">
                <h1>Experience and contribute to the IoT world</h1>
            </div>
        </div>
    </div>
    
    
    
    
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Starting point</h2>
        <p>
            Checkout all of the IoT projects and events that are registered at this platform. Hope
            you enjoy!
        </p>
        <p><a class="btn btn-default" href="/ProjectsAndEvents/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already our user</h2>
        <p>Track all of your created projects and events.</p>
        <p><a class="btn btn-default" href="/ProjectsAndEvents/ProjectsAndEventsByUser  ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order management</h2>
        <p>Manage every order either incoming or outgoing here.</p>
        <p><a class="btn btn-default" href="/Orders/Index">Learn more &raquo;</a></p>
    </div>
</div>